@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

body {
  max-width: 1440px;
  margin: auto;
  background-color: var(--background);
  color: var(--foreground);

  font-family: 'Noto Sans Mono', monospace;
}

html:root {
  --background: #282a36;
  --foreground: #f8f8f2;
  --link-color: #f1fa8c;
}

a {
  color: var(--link-color);
  text-decoration: none;
}